body{
    background-color: #555;
    color: white;
    font-size: 17px;
}
.mobile.container{
    max-width: 480px;
    margin: auto;
    background-color: #555;
    height: 500px;
    color: white;
    border-radius: 10px;
}
.topnav{
    overflow: hidden;
    background-color: #333;
    position: relative;
}
.topnav #myLinks {
    display: none;
}
.topnav a{
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}
.topnav a.icon{
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
.topnav a:hover{
    background-color: #93a153;
    color: black;
}
.active{
    background-color: #657035;
    color: white;
}
.blocksatz{
    text-align: justify;
}
.center{
    text-align: center;
}
ul.breadcrumb{
    padding: 10px 16px;
    list-style: none;
    background-color: #777;
}
ul.breadcrumb li{
    display: inline;
    font-size: 18px;
}
ul.breadcrumb li+li:before{
    padding: 8px;
    color: black;
    content: "/\00a0";
}
ul.breadcrumb li a{
    color: white;
    text-decoration: none;
}
ul.breadcrumb li a:hover{
    color: #aaa;
    text-decoration: underline;
}
ul.mainList{
    padding: 10px 16px;
    list-style: none;
    background-color: #777;
}
ul.mainList li{
    font-size: 18px;
}
ul.mainList li a{
    color: white;
    text-decoration: none;
}
ul.mainList li a:hover{
    color: #aaa;
    text-decoration: underline;
}
a:link, a:visited{
    color: white;
    text-decoration: underline;
}