body{
    background-color: #f7f0eb;
    color: black;
    font-size: 17px;
}
.mobile.container{
    max-width: 480px;
    margin: auto;
    background-color: #f86700;
    height: 500px;
    color: #ff6a00;
    border-radius: 10px;
}
.topnav{
    overflow: hidden;
    background-color: #9ebd66;
    position: relative;
    border-radius: 10px;
}
.topnav #myLinks {
    display: none;
}
.topnav a{
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}
.topnav a.icon{
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
.topnav a:hover{
    background-color: #a3fd79;
    color: black;
}
.topnav a:visited{
    color: black;
}
.active{
    background-color: #cef585;
    color: black;
}
.blocksatz{
    text-align: justify;
}
.center{
    text-align: center;
}
ul.breadcrumb{
    padding: 10px 16px;
    list-style: none;
    background-color: #c2b0a3;
    border-radius: 10px;
}
ul.breadcrumb li{
    display: inline;
    font-size: 18px;
}
ul.breadcrumb li+li:before{
    padding: 8px;
    color: black;
    content: "/\00a0";
}
ul.breadcrumb li a{
    color: black;
    text-decoration: none;
}
ul.breadcrumb li a:hover{
    color: black;
    text-decoration: underline;
}
ul.mainList{
    padding: 10px 16px;
    list-style: none;
    background-color: #c2b0a3;
    border-radius: 10px;
}
ul.mainList li{
    font-size: 18px;
}
ul.mainList li a{
    color: black;
    text-decoration: none;
}
ul.mainList li a:hover{
    color: black;
    text-decoration: underline;
}
a:link, a:visited{
    color: black;
    text-decoration: underline;
}
/*Style für mögliche Steckbriefe
    - Möglicherweise müsste der Hintergrund noch angepasst werden*/
.steckbrief{
    border-style: solid;
    border-radius: 4px;
    border-color: #997459;
    padding: 15px;
    text-align: justify;
    background-color: #e0caba;
}
/*Style für aktuelle Bilder*/
.bilder{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}
/*Style für allgemeine Tabellen*/
table.allgemeine{
    border-collapse: collapse;
    border: 1px solid #dddddd;
    text-align: left;
    width: 100%;
    max-width: 100%;
}
table.allgemeine th{
    background-color: #cead96;
}
table.allgemeine tr{
    border: 1px solid #dddddd;
}
/*Style für Vorteile Tabellen*/
table.vorteile{
    border-collapse: collapse;
    border: 1px solid #dddddd;
    text-align: left;
    width: 100%;
    max-width: 100%;
}
table.vorteile th{
    background-color: #6c7457;
}
table.vorteile tr{
    border: 1px solid #dddddd;
}
/*Style für Nachteile Tabellen*/
table.nachteile{
    border-collapse: collapse;
    border: 1px solid #dddddd;
    text-align: left;
    width: 100%;
    max-width: 100%;
}
table.nachteile th{
    background-color: #b07769;
}
table.nachteile tr{
    border: 1px solid #dddddd;
}
/*Style für die Meisterinformationen*/
.meisterinformationen{
    padding: 10px 10px;
    background-color: #dddddd;
    border-left: 5px solid black;
    text-align: justify;
    border-radius: 10px;
}
/*Style für die Allgemeinen Informationen*/
.allgemeineinformationen{
    padding: 10px 10px;
    background-color: #cddbc1;
    text-align: justify;
}
/*Style für Körpertalente*/
table.koerpertalente{
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    max-width: 100%;
    background-color: #738B82;
    border-radius: 10px;
}
table.talente{
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    max-width: 100%;
    border: 1px solid #dddddd;
}
table.talente th{
    background-color: #D3AF9B;
}
/*Style für Gesellschaftstalente*/
table.gesellschaftstalente{
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    max-width: 100%;
    background-color: #B47D6F;
    border-radius: 10px;
}
table.talente{
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    max-width: 100%;
    border: 1px solid #dddddd;
}
table.talente th{
    background-color: #D3AF9B;
}
/*Style für Naturtalente*/
table.naturtalente{
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    max-width: 100%;
    background-color: #9D9875;
    border-radius: 10px;
}
table.talente{
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    max-width: 100%;
    border: 1px solid #dddddd;
}
table.talente th{
    background-color: #D3AF9B;
}